<div class="container">
  <nav>
    <ul>
      <li>
        <a routerLink="/hai">Hai</a>
      </li>
      <li>
        <a routerLink="/hello">Hello</a>
      </li>
      <li>
        <a routerLink="/heroes">Heroes</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
      </li>
      <li>
        <a routerLink="/dashboard">Dashboard</a>
      </li>
    </ul>
  </nav>
  <!-- Place Holder : which displays UI according to navigation -->
   <router-outlet></router-outlet>
</div>